.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text {
  flex-direction: column;
  align-self: center;
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.actions {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
}

.image {
  align-self: flex-end;
  width: 500px;
}

@media screen and (max-width: 966px) {
  .content {
    display: flex;
    align-self: center;
    flex-direction: initial;
  }
  .image {
    width: auto;
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .subtitle {
    margin-top: 2rem;
  }

  .title {
    font-size: 3rem;
    height: 34vh;
  }

  .actions a {
    width: 100%;
  }

  .title br {
    display: none;
  }
}
