.card {
  direction: flex;
  flex-direction: column;
  height: 15rem;
  max-width: 24rem;
  padding: 1.5rem;
  text-align: center;
}

.header {
  border-top: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  font-size: 1.5em;
  margin-bottom: -0.5em;
  margin-top: 1em;
  text-align: center;
}

.icon {
  padding: 0 var(--ifm-spacing-horizontal);
  background: var(--ifm-background-color);
  position: relative;
  top: -1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
