.heroBanner {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.heroButtons {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
}

.heroButtons a + a {
  margin-left: 1rem;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 400;
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--ifm-color-primary-dark-gray);
}

.cardList {
  display: flex;
}

.cardList > div {
  width: 33%;
}
