.heroBanner {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
}

.heroButton {
  display: inline-block;
  width: 169px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 0.3s;
  text-align: center;
}

.heroButton:hover {
  opacity: 0.8;
  color: var(--ifm-color-primary-light-gray);
  text-decoration: none;
}

span {
  vertical-align: -webkit-baseline-middle;
}
.heroButton + a {
  margin-left: 1rem;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 400;
  /* color: var(--ifm-color-primary-dark-gray); */
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--ifm-color-primary-dark-gray);
}
